#carousel{
    width: 100%;
    margin-bottom: 40px;
}

#carousel_img, #carousel_ctrl{
    width: 512px;
    margin-left: auto;
    margin-right: auto;
}

#carousel_img{
    overflow: hidden;
    height: 512px;
}

#carousel_ctrl p, #carousel_ctrl div, #carousel_img img{
    width: 100%;
}

#btn_prev, #btn_next{
    width: 75px;
    float: right;
}

#btn_zoom{
    width: 120px;
}

#host_text{
    text-align: center;
}
